{% extends 'base.html' %} 

{% block content %} 
<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
    <h1 class="display-3 text-white mb-3 animated slideInDown">
      Menu
    </h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center text-uppercase">
        <li class="breadcrumb-item"><a href="home">Home</a></li>
        <li
          class="breadcrumb-item text-white active"
          aria-current="page"
        >
          Menu
        </li>
      </ol>
    </nav>
  </div>
</div>


<div class="mid_content">
    <div class="container">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="tabbable tabs-left">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <ul class="nav nav-tabs nav-stacked">
                <li class="active"><a href="#a" data-toggle="tab">Soup</a></li>
                <li><a href="#b" data-toggle="tab">Sandwich</a></li>
                <li><a href="#c" data-toggle="tab">Burger</a></li>
                <li><a href="#d" data-toggle="tab">Momo</a></li>
                <li><a href="#e" data-toggle="tab">Contenental</a></li>
                <li><a href="#f" data-toggle="tab">Italian</a></li>
                <li><a href="#g" data-toggle="tab">Chinese</a></li>
                <li><a href="#h" data-toggle="tab">From the Clay Oven</a></li>
                <li><a href="#i" data-toggle="tab">Indian</a></li>
                <li><a href="#j" data-toggle="tab">Desert</a></li>
                <li><a href="#k" data-toggle="tab">Domestic Spirit</a></li>
                <li><a href="#l" data-toggle="tab">Imported Spirit</a></li>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <div class="tab-content">
                <div class="tab-pane active" id="a">
                  <div class="mainContent hasLeftAndRightCols menuContainer">
                    <div class="row">
                      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <h1>Soup</h1>
                        <p><span>Cream Soup</span><p>Fresh tomato, mushroom or chicken<br />Served with bread</p></p>
                        <p><span>Spinach Mushroom Soup</span><p>Fresh spinach blanded &amp; simmered with mushroom served with bread</p></p>
                        <p><span>Chicken Hot & Sour Soup</span><p>Authentic thick chinese soup with vegetables chicken &amp; egg simmered in a special broth</p></p>
                        <p><span>Vegetables Hot & Sour Soup</span><p>Authentic thick chinese soup with vegetables simmered in a special broth</p></p>
                        <p><span>Chicken Noodles Soup</span><p>A clear soup with fresh vegetables, chicken &amp; homemade noodles</p></p>
                        <p><span>Chicken Thupa</span><p>A thick soup with fresh vegetables, chicken &amp; homemade noodles</p></p>
                      </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <img src="https://kantipurinn.com/wp-content/uploads/2018/05/85cec382449f39cc4475e47e2fd7a504.jpg" alt="soups"> </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="b">
                <div class="mainContent hasLeftAndRightCols menuContainer">
                  <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                      <h1>Sandwich</h1>
                      <p><span>Vegetable Sandwich</span><p>A decker with layer vegetables cucumber, tomato , onion &amp; lettuce served with french fries</p></p>
                      <p><span>Chicken Sandwich</span><p>A decker with layer chicken &amp; mayonnaise, served with french fries</p></p>
                      <p><span>Tuna Sandwich</span><p>A decker with layer chicken &amp; mayonnaise,served with french fries</p></p>
                      <p><span>Cheese & Tomato Sandwich</span><p>A decker with tuna fish &amp; chopped, onion with mayonnaise served with french fries</p></p>
                      <p><span>Kantipur Inn Special Sandwich</span><p>A decker with layer chicken, sausage, becon, egg, vegetables, cheese &amp; lettuce served with french fries</p></p>
                    </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <img src="https://kantipurinn.com/wp-content/uploads/2018/05/club-sandwich-4-1200.jpg" alt="Sandwich"> </div>
                </div>
              </div>
              </div>
              <div class="tab-pane fade" id="c">
                <div class="mainContent hasLeftAndRightCols menuContainer">
                  <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                      <h1>Burger</h1>
                       <p><span>Vegetable Burger</span><p>Crispy vegetable patty with lettuce onion &amp; tomato served with french fries</p></p>
                      <p><span>Chicken Burger</span><p>minced chicken patty with lettuce onion &amp; tomato served with french fries</p></p>                          
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <img src="https://kantipurinn.com/wp-content/uploads/2018/05/download.jpeg" alt="burgers"> </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="d">
                <div class="mainContent hasLeftAndRightCols menuContainer">
                  <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                      <h1>Momo</h1>
                        <p><span>Vetetable</span><p>Steam Fried Kothey Soup Chilly</p></p>
                        <p><span>Chicken</span><p>Steam Fried Kothey Soup Chilly</p></p>
                        <p><span>Buff</span><p>Steam Fried Kothey Soup Chilly</p></p>                       
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <img src="https://kantipurinn.com/wp-content/uploads/2018/05/LREdit_Wordpress-5638.jpg" alt="momo"> </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="e">
                <div class="mainContent hasLeftAndRightCols menuContainer">
                  <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                      <h1>Contenental</h1>
                      <p><span>Chicken Cutlet</span><p>marinated &amp; bread crumbed chicken breast deep fried &amp; served with french fries</p></p>
                      <p><span>Grilled Chicken Sizzler</span><p>Chicken , vegetables &amp; potatoes served on a sizzling plate with brown sauce</p></p>
                      <p><span>Chicken Imperial</span><p>Grilled chicken breast with red wine sauce served with sauteed vegetables &amp; steam riced</p></p>
                      <p><span>Chicken Shaslick</span><p>Herbs enhanced cube chicken, capsicum &amp; tomato served ON steam rice</p></p>
                      <p><span>Lemon Grilled Chicken</span><p>Lemon butter grilled chicken with mashed potato &amp; sauteed vegetables</p></p>
                      <p><span>Grilled Fish</span><p>Grilled fish fillet accomplished with seasional vegetables &amp; mashed potatoes</p></p>
                      <p><span>Pepper Steak Sizzler</span><p>Herbs enhanced tenderloin served with vegetables &amp; potatoes</p></p>
                      <p><span>Chicken Cutlet</span><p>Marinated &amp; bread crumbed fillet fish<br />Deep fried &amp; Served with french fries</p></p>
                    </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <img src="https://kantipurinn.com/wp-content/uploads/2018/05/contental.jpg" alt="continental"> </div>
                </div>
              </div>
              </div>
              <div class="tab-pane fade" id="f">
              <div class="mainContent hasLeftAndRightCols menuContainer">
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h1>Italian</h1>
                    <p><span>Spaghetti Neapolitan</span><p>Italian spaghetti with fresh tomato sauce &amp; rich flavour of Italian herbs</p></p>
                    <p><span>Spaghetti Bolognese</span><p>Italian spaghetti with sauce of fresh minced chicken &amp; rich flavour of Italian</p></p>
                    <p><span>Margaritta Pizza</span><p>Tomato top up with italian sauce &amp; cheese</p></p>
                    <p><span>Vegetable Pizza</span><p>Capsicum, tomato, onion, mushroom</p></p>
                    <p><span>Chicken Pizza</span><p>Chicken capsicum, tomato, onion, top up with italian sauce &amp; cheese</p><p>&nbsp;</p></p>
                    <p><span>Mixed Pizza</span><p>capsicum , tomato, onion, mushroom, pepperoni top up with Italian sauce &amp; cheese</p></p>
                   </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <img src="https://kantipurinn.com/wp-content/uploads/2018/05/italian_625x350_41450863014.jpg" alt="italan"> </div>
                </div>
              </div>
              </div>
              <div class="tab-pane fade" id="g">
              <div class="mainContent hasLeftAndRightCols menuContainer">
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h1>Chinese</h1>
                    <p><span>Vegetable Chowmein</span><p>Mixed vegetable served with special homemade egg noodles</p></p>
                     <p><span>Egg Chowmein</span><p>Mixed vegetables / egg served with special homemade egg noodles</p></p>
                    <p><span>Buff Chowmein</span><p>Mixed vegetables /buff served with special 1 homemade egg noodles</p></p>
                    <p><span>Chicken Chowmein</span><p>Mixed vegetable /chicken served with special with special homemade egg noodles</p></p>
                    <p><span>Mixed Chowmein</span><p>Mixed vegetables/ chicken /egg/ sausage served with special homemade egg noodles</p></p>
                    <p><span>Vegetable Fried Rice</span></p>
                    <p><span>Buff Fried Rice</span></p>
                    <p><span>Chicken Fried Rice</span></p>
                    <p><span>Mixed Fried Rice</span></p>
                    <p><span>Stair Fried Vegetable</span><p>Mixed vegetables cooked is schezun sauce</p></p>
                    <p><span>Hot Garlic Chicken</span><p>Boneless Chicken sauteed in a spicy special garlic sauce</p></p>
                    <p><span>Chicken Cashnut</span><p>Boneless crunchy &amp; soft chicken sauteed in a garlick &amp; cashnut based gravy</p></p>
                    <p><span>Kung Pao Chicken</span><p>Dice of chicken cooked with penuts &amp; vegetable in schezuan Sauce</p></p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <img src="https://kantipurinn.com/wp-content/uploads/2018/05/download-1.jpeg" alt="chinese"> </div>
                </div>
              </div>
              </div>
              <div class="tab-pane fade" id="h">
              <div class="mainContent hasLeftAndRightCols menuContainer">
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h1>From the Clay Oven</h1>
                    <p><span>Appetizers</span></p>
                    <p><span>Paneer Tikka</span><p>Cottage cheese cubes marinated with Yogurt &amp; indian spices skewered &amp; cooked</p></p>
                    <p><span>Fish Tikka</span><p>Basa fish marinated with yogurt, indian spiceSkewered &amp; cooked in clay oven</p></p>
                    <p><span>Chicken Malai Tikka</span><p>Basa fish marinated with yogurt, indian spiceSkewered &amp; cooked in clay oven</p></p>
                    <p><span>Plain / Butter Naan</span></p>
                    <p><span>Garlic Naan</span></p>
                    <p><span>Cheese Naan</span></p>
                    <p><span>Aloo Paratha</span><p>Whole wheat flour dough rolled out &amp; stuffed with Potatoes &amp; vegetables served with indian chutney</p></p>
                    <p><span>Tandoori Chicken</span><p>Tender Chicken marinated overnight with Indian spice skewered and cooked , then Serve with mint sauce</p></p>
                    <p><span>Chicken Butter Masala</span><p>Marinated boneless chicken simmered In special tomato paste , An indian delight</p></p>
                    <p><span>Chicken Tikka Masala</span><p>Chicken from clay oven simmered in spicy sauce</p></p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <img src="https://kantipurinn.com/wp-content/uploads/2018/05/rc-clay-oven1-1024x638.jpg" alt="mains"> </div>
                </div>
              </div>
              </div>
              <div class="tab-pane fade" id="i">
              <div class="mainContent hasLeftAndRightCols menuContainer">
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h1>Indian</h1>
                    <p><span>Steam Rice</span></p>
                    <p><span>Jira Rice</span><p>Cumin flavoured buttered rice</p></p>
                    <p><span>Vegetables Biryani</span><p>Rice simmered in special broth with mixed Vegetable in exotic spice served with raita</p></p>
                    <p><span>Chicken Biryani</span><p>Rice simmered in special broth with chicken in exotic spice served with raita</p></p>
                    <p><span>Dal Makhani</span><p>Black Lentil Simmered with fresh ginger Garlic &amp; tomato sauce</p></p>
                    <p><span>Palak Paneer</span><p>Cube of cottage cheese simmered in fresh spinach sauce</p></p>
                    <p><span>Palak Mushroom</span><p>Mushroom simmered in fresh spinach sauce</p></p>
                    <p><span>Subzi Jhalfrezi</span><p>A combInation of fresh vegetables fried with cumin seeds</p></p>
                    <p><span>Paneer Butter Masala</span><p>Paneer simmered in tomato butter and herb past</p></p>
                    <p><span>Chicken Curry With Rice Or Naan</span><p>Chicken marinated with authentic in house<br />Spices simmered into onion &amp; tomato base gravy</p></p>
                    <p><span>Fish Malabar Curry With Naan Or Rice</span></p>
                    <p><span>Nepali Thali / Chicken Or Veg</span><p>Nepali chicken curry ,black lentel , mixed vegetable, spinach<br />Steam rice, pickle &amp; papad served in a brass plate</p></p>
                    </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <img src="https://kantipurinn.com/wp-content/uploads/2018/05/indianfood.jpg" alt="mains"> </div>
                </div>
              </div>
              </div>
              <div class="tab-pane fade" id="j">
              <div class="mainContent hasLeftAndRightCols menuContainer">
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h1>Desert</h1>
                    <p><span>Cheese Cake</span></p>
                    <p><span>Apple Pie</span></p>
                    <p><span>Apple Pie With Ice Cream</span></p>
                    <p><span>Chocolate Browne</span></p>
                    <p><span>Chocolate Browne With Ice Cream</span></p>
                    <p><span>White Forest</span></p>
                    <p><span>Black Forest</span></p>
                    <p><span>Fruit Salad</span></p>
                    <p><span>Ice Cream</span></p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <img src="https://kantipurinn.com/wp-content/uploads/2018/05/colorful-meal-food-font-b-desert-b-font-still-life-painting-10-4-Sizes-Home-Decoration.jpg" alt="mains"> </div>
                </div>
              </div>
              </div>
              <div class="tab-pane fade" id="k">
              <div class="mainContent hasLeftAndRightCols menuContainer">
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h1>DOMESTIC SPIRIT</h1>
                      <p><span>Royal Terasure</span></p>
                      <p><span>Khukuri Rum</span></p>
                      <p><span>Ruslan Vodka</span></p>
                      <p><span>8848 Vodka</span></p>
                      <p><span>Blue Riban Gin</span></p>
                      <p><span>Golden Grape Brandi</span></p>
                      <p><span>Signature</span></p>
                      <p><span>Old Durbar</span></p>
                      <p><span>Old Durbar Black Chimney</span></p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <img src="https://kantipurinn.com/wp-content/uploads/2018/05/download-2.jpeg" alt="mains"> </div>
                </div>
              </div>
              </div>
              <div class="tab-pane fade" id="l">
              <div class="mainContent hasLeftAndRightCols menuContainer">
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h1>Imported SPIRIT</h1>
                    <p><span>Double Black</span></p>
                    <p><span>Black Label /Jack Daniels</span></p>
                    <p><span>Chivas/ Jimbeam/</span></p>
                    <p><span>Red Label /Vat 69</span></p>
                    <p><span>Single Malt Glenfiddich</span></p>
                    <p><span>Irish Wishkkey</span></p>
                    <p><span>Absolyate Vodka</span></p>
                    <p><span>Gin(Gordons , Beeffeater)</span></p>
                    <p><span>Bombay Sapphire</span></p>
                    <p><span>Rum(Bacardi Captain Morgan)</span></p>
                    <p><span>NepolianBrandy</span></p>
                    <p><span>Cognac VS</span></p>                   
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <img src="https://kantipurinn.com/wp-content/uploads/2018/05/liquor-640x427.jpg" alt="mains"> </div>
                </div>
              </div>
              </div>
           </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

<link
      href="static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/handel.css">
<link href="static/css/menu.css" rel="stylesheet" />
<script src="static/js/jquery.min.js"></script>
<script src="static/js/custom.js"></script>

{% endblock %}
